/*
bleu #0065FC
bleu clair #DEEBFF
gris #F2F2F2
*/

@font-face
{
    font-family: 'raleway';
    src: url('assets/police/Raleway-Light.ttf');
}

body
{
    font-family: 'raleway';
}

body,
ul 
{
  margin: 0;
  padding: 0;
}
/* Header */
#head
{
    align-items: center;
    display: flex;
    justify-content: space-between;
    margin: 2em;
}

#suithead
{
    margin-left: 2em;
}

header
{
    display: flex;
    flex-direction: column;
}

nav
{
    width: 20%;
}

nav ul
{
    display: flex;
    justify-content: space-between;
}

nav li 
{
    list-style: none;
}

.heberge
{
    color: #0065FC;
}

.act
{
    color: black;
}

.inscri
{
    font-weight: bold;
    color:  #0065FC;
}

/* Section recherche */

#searchbar
{
    margin-left: 2em;
    /*position:relative; width:1040px; height:auto;*/
    align-items: center;
}

.searchicon
{
    content: url(assets/img/search.svg);
    height: 1%;
    width: 1.5%;
}

.formulaire
{
    display:inline-block;
}

.formulaire .champ
{
    font-weight: bold;
    width:200px; height:35px;
}

.formulaire .bouton
{
    background-color: #0065FC;
    width: 30%;
}