/*
bleu #0065FC
bleu clair #DEEBFF
gris #F2F2F2
*/

@font-face
{
    font-family: 'raleway';
    src: url('assets/police/Raleway-Light.ttf');
}

body
{
    font-family: 'raleway';
    background-color: white;
}

body,
ul 
{
  margin: 0;
  padding: 0;
}
/* Header */
#head
{
    align-items: center;
    display: flex;
    justify-content: space-between;
    margin: 2em;
}

#suithead
{
    margin-left: 2em;
}

header
{
    display: flex;
    flex-direction: column;
}

nav
{
    width: 20%;
}

nav ul
{
    display: flex;
    justify-content: space-between;
}

nav li 
{
    list-style: none;
}

.heberge
{
    color: #0065FC;
}

.heberge:hover
{
    border-top: 1px solid #0065FC;
    cursor: pointer;
}

.act
{
    color: black;
}

.act:hover
{
    border-top: 1px solid #0065FC;
    cursor: pointer;
}

.inscri
{
    font-weight: bold;
    color:  #0065FC;
}

.inscri:hover
{
    border-top: 1px solid #0065FC;
    cursor: pointer;
}

/* Section recherche */

#searchbar
{
    display: flex;
    margin-left: 2em;
    position: relative; width:1040px; height:auto;
    align-items: center;
}

#searchicon
{
    border-top-left-radius: 5px;
    border-bottom-left-radius: 5px;
    padding: 10px;
    background: #F2F2F2;
}

.formulaire
{
    display:inline-block;
}

.formulaire .champ
{
    font-weight: bold;
    width:200px; height:40px;
}

.formulaire .bouton
{
    background-color: #0065FC;
    border-top-right-radius: 5px;
    border-bottom-right-radius: 5px;
    width: 100px;
}

/* Filtres*/

a:link
{
    text-decoration: none;
}

#filtre
{
    display: flex;
    flex-direction: row;
    align-items: center ;
    margin-left: 2em;
    font-weight: bold;
    color: #0065FC;
}

.filcolor
{
    border-radius: 100%;
    padding: 15px;
    background-color: #DEEBFF;
}

.filtext
{
    color: black;
    border-top: 1px solid black;
    border-right: 1px solid black;
    border-bottom: 1px solid black;
    border-top-right-radius: 50px;
    border-bottom-right-radius: 50px;
    padding: 10px;
}

#inf
{
    display: flex;
    margin-left: 2em;
    flex-direction: row;
    align-items: center;
    font-size: 10px;
}

#logoinf
{
    border-radius: 100%;
    padding: 10px;
    color: #0065FC;
    background-color: #F2F2F2;
}