/*
bleu #0065FC
bleu clair #DEEBFF
gris #F2F2F2

Body
*/

@font-face
{
    font-family: 'raleway';
    src: url('assets/police/Raleway-Light.ttf');
}

@font-face
{
    font-family: 'raleway-bold';
    src: url('assets/police/Raleway-Bold.ttf')
}

main
{
    max-width: 1440px;
    margin: auto;
}

body
{
    font-family: 'raleway';
    background-color: white;
    width: 100%;
    height: 100%;
    margin: 0px;
    padding: 0px;
}

a:link
{
    text-decoration: none;
}
.coloract:visited
{
    color: black;
}

.colorheb:visited
{
    color: #0065FC;
}

i
{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 32px;
    height: 32px;
}

/* Header */

header
{
    padding: 16px;
}

section
{
    padding: 16px;
}

.head
{
    display: flex;
    align-items: center;
    justify-content: space-between;
}

nav
{
    width: 25%;
}

nav ul
{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
}

nav li
{
    list-style: none;
    border-top: 1px solid transparent;
    color: #0065FC;
}

li:hover
{
    border-color: #0065FC;
    cursor: pointer;
}

.gras
{
    font-family: 'raleway-bold';
}

.grasin
{
    font-family: 'raleway-bold';
}
/* 
    Barre de recherche
*/

#searchbar
{
    display: flex;
    align-items: center;
}

#searchicon
{
    padding: 12px;
    background-color: #F2F2F2;
    border-radius: 15px 0px 0px 15px;
}

.formulaire
{
    display: flex;
}

.formulaire .champ
{
    font-family: 'raleway-bold';
    border-top: 1px solid #F2F2F2;
    border-bottom: 1px solid #F2F2F2;
    border-left: 0px;
}

.formulaire .bouton
{
    border-color: #0065FC;
    background-color: #0065FC;
    color: white;
    font-family: 'raleway-bold';
    border-radius: 0px 15px 15px 0px;
    padding: 12px;
}

.boutonmobile
{
    display: none;
}

.bouton:hover
{
    cursor: pointer;
}

/*
    Filtre
*/

#filtre
{
    display: flex;
    flex-direction: row;
    align-items: center;
    font-family: 'raleway-bold';
    color: #0065FC;
}

#mobilefiltre
{
    display: flex;
    flex-direction: row;
}

.filtrebord
{
    display: flex;
    align-items: center;
    border: 3px solid #F2F2F2;
    border-radius: 50px;
    margin-left: 12px;
    margin: 12px;
    padding-right: 12px;
}

.filtrebord:hover
{
    cursor: pointer;
}

.filcolor
{
    border-radius: 50px;
    padding: 15px;
    margin-right: 12px;
    margin-left: -5px;
    background-color: #DEEBFF;
}

.filtext
{
    color: black;
    font-family: 'raleway-bold';
}

#inf
{
    display: flex;
    flex-direction: row;
    align-items: center;
    font-size: 12px;
}

#logoinf
{
    border: 1px solid #F2F2F2;
    border-radius: 50px;
    padding: 8px;
    font-size: 16px;
    color: #0065FC;
}

i
{
    font-size: 18px;
}

/*
    Liste d'hébergements
*/

#sechp
{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.listhebergement
{
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    background-color: #F2F2F2;
    border-radius: 15px 15px 15px 15px;
    width: 67%;
    height: 775px;
}

.lignehebergement
{
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
}

.texthebergement
{
    font-family: 'raleway-bold';
    padding-left: 25px;
}

.imghebergement
{
    display: flex;
    flex-direction: column;
    background-color: white;
    border-radius: 15px 15px 15px 15px;
    width: 30%;
    padding: 5px;
}

.imghebergement:hover
{
    cursor: pointer;
}

.ihtaille
{
    width: 100%;
    height: 150px;
    border-radius: 15px 15px 0px 0px;
    overflow: hidden;
}

.ihtaille img
{
    width: 100%;
    max-height: 100%;
}

.taillenom
{
    padding-left: 10px;
    font-family: 'raleway-bold';
    font-size: 20px;
    flex-wrap: wrap;
}

.tailleprix
{
    margin-top: -10px;
    padding-left: 10px;
    font-size: 16px;
}

.etoile
{
    display: flex;
    flex-direction: row;
    padding-left: 10px;
}

.etoilevalide
{
    color: #0065FC;
}

.etoileinvalide
{
    color: #F2F2F2;
}

#afficherplus:hover
{
    cursor: pointer;
}

.populaire
{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-evenly;
    background-color: #F2F2F2;
    border-radius: 15px 15px 15px 15px;
    width: 30%;
    height: 775px;
}

.titrepopu
{
    display: flex;
    flex-direction: row;
    align-items: center;
    width: 90%;
    justify-content: space-between;
}

#faspop
{
    font-size: 25px;
}

.imgpopulaire
{
    display: flex;
    flex-direction: row;
    padding: 5px;
    width: 90%;
    height: 150px;
    background-color: white;
    border-radius: 15px 15px 15px 15px;
}

.imgpopulaire:hover
{
    cursor: pointer;
}

.iptaille
{
    width: 40%;
    border-radius: 15px 0px 0px 15px;
    overflow: hidden;
}

.iptaille img
{
    width: 100%;
    height: 100%;
}

.ipltaille
{
    width: 60%;
    border-radius: 15px 0px 0px 15px;
    overflow: hidden;
}

.ipltaille img
{
    width: 100%;
    height: 100%;
}

.colpop
{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.etoilepop
{
    display: flex;
    flex-direction: row;
    padding-left: 10px;
}

/* Activités à Marseille */

#secam
{
    display: flex;
    flex-direction: column;
}

.activite
{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.amtaillegrand
{
    width: 100%;
    height: 525px;
    border-radius: 15px 15px 0px 0px;
    overflow: hidden;
}

.amtaillegrand img
{
    width: 100%;
    height: 100%
}

.imgactgrand
{
    display: flex;
    flex-direction: column;
    border: 1px solid #F2F2F2;
    border-radius: 15px 15px 15px 15px;
    width: 23%;
    height: 600px;
}

.imgactgrand:hover
{
    cursor: pointer;
}

.activitenom
{
    margin-left: 15px;
    margin-top: 15px;
    font-family: 'raleway-bold';
}

.amtaille
{
    width: 100%;
    height: 200px;
    border-radius: 15px 15px 0px 0px;
    overflow: hidden;
}

.amtaille img
{
    width: 100%;
    height: 90%;
}

.taillefort
{
    width: 100%;
    height: 250px;
    border-radius: 15px 15px 0px 0px;
    overflow: hidden;
}

.taillefort img
{
    height: 90%;
    width: 100%;
}

.imgfort
{
    display: flex;
    flex-direction: column;
    border: 1px solid #F2F2F2;
    border-radius: 15px 15px 15px 15px;
    width: 100%;
    height: 300px;
}

.imgfort:hover
{
    cursor: pointer;
}

.imgparc
{
    display: flex;
    flex-direction: column;
    border: 1px solid #F2F2F2;
    border-radius: 15px 15px 15px 15px;
    width: 100%;
    height: 300px;
}

.imgparc:hover
{
    cursor: pointer;
}

.imgact
{
    display: flex;
    flex-direction: column;
    border: 1px solid #F2F2F2;
    border-radius: 15px 15px 15px 15px;
    width: 100%;
    height: 250px;
}

.imgact:hover
{
    cursor: pointer;
}

.imgacthaut:hover
{
    cursor: pointer;
}

.colact
{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    width: 23%;
    height: 600px;
}

/* 
    Footer
*/

footer
{
    display: flex;
    flex-direction: row;
    background-color: #F2F2F2;
    margin-left: -10px;
    margin-top: 50px;
    font-size: 18px;
}

.foot
{
    margin: 25px;
}

.footcol
{
    margin-top: 25px;
    margin-left: 375px;
}

.linkfooter:hover
{
    cursor: pointer;
}

/*
    Responsive
*/

@media screen and (max-width: 1024px)
{
    p
    {
        font-size: 16px;
    }

    header
    {
        padding: 0px;
    }

    .head
    {
        flex-direction: column;
        align-items: flex-start;
    }
    
    section
    {
        padding: 0px;
    }

    nav
    {
        width: 100%;
    }

    nav ul
    {
        display: flex;
        justify-content: space-around;
    }

    .formulaire .champ
    {
        border-top: 1px solid #F2F2F2;
        border-bottom: 1px solid #F2F2F2;
    }

    .formulaire .bouton
    {
        display: none;
    }

    .boutonmobile
    {
        display: flex;
        border-color: #0065FC;
        background-color: #0065FC;
        color: white;
        font-family: 'raleway-bold';
        border-radius: 0px 15px 15px 0px;
        padding: 12px;
    }

    .grasin
    {
        position: absolute;
        top: 2%;    right: 10%;
    }

    h2
    {
        flex-wrap: wrap;
        font-size: 20px;
    }

    body
    {
        font-family: 'raleway'; 
        background-color: white;
        width: 100%;
    }

    #searchbar
    {
        justify-content: center;
        border: none;
        width: 100%;
    }

    nav li
    {
        border: none;
    }

    #mobilefiltre
    {
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
    }

    .mobilesechp
    {
        display: flex;
        align-items: center;
        width: 100%;
    }

    .activite
    {
        flex-direction: column;
        align-items: center;
    }

    #filtre
    {
        flex-direction: column;
        align-items: flex-start;
        width: 100%;
    }

    .lignehebergement
    {
        flex-direction: row;
        align-items: center;
        width: 100%;
    }

    #lignedeux
    {
        margin-top: 0px;
    }

    #sechp
    {
        display: flex;
        flex-direction: row;
    }

    .imgpopulaire
    {
        margin: 0px;
        padding: 0px;
        padding-bottom: 5px;
        margin-bottom: 25px;
        width: 90%;
        height: 150px;
    }

    footer
    {
        flex-direction: column;
        margin-left: 0px;
        margin-top: 0px;
    }

    .foot
    {
        margin: 0px;
    }

    .footcol
    {
        margin-top: 0px;
        margin-left: 0px;
    }

    .imgactgrand
    {
        width: 100%;
        max-width: 90%;
        height: 200px;
        margin-bottom: 15px;
        overflow: hidden;
    }

    .imgact
    {
        width: 100%;
        max-width: 90%;
        height: 200px;
        margin-bottom: 15px;
        overflow: hidden;
    }

    .imgparc
    {
        width: 100%;
        max-width: 90%;
        height: 200px;
        margin-bottom: 15px;
        overflow: hidden;
    }

    .imgfort
    {
        width: 100%;
        max-width: 90%;
        height: 200px;
        margin-bottom: 15px;
        overflow: hidden;
    }

    .amtaillegrand img
    {
        width: 100%;
    }

    .taillefort
    {
        width: 100%;
    }

    .colact
    {
        align-items: center;
        width: 100%;
        height: 100%;
    }

    .amtaille
    {
        width: 100%;
    }

    .taillenom
    {
        font-size: 16px;
    }

    .tailleprix
    {
        font-size: 14px;
    }
}

@media screen and (max-width: 768px)
{
    h1
    {
        font-size: 20px;
    }

    header
    {
        padding: 5px;
    }

    .head
    {
        flex-direction: column;
        align-items: flex-start;
    }
    
    section
    {
        padding: 0px;
    }

    nav
    {
        width: 100%;
    }

    nav ul
    {
        display: flex;
        justify-content: space-around;
        margin: 0px;
        padding: 0px;
    }

    .formulaire .champ
    {
        border-top: 1px solid #F2F2F2;
        border-bottom: 1px solid #F2F2F2;
    }

    .formulaire .bouton
    {
        display: none;
    }

    .boutonmobile
    {
        display: flex;
        border-color: #0065FC;
        background-color: #0065FC;
        color: white;
        font-family: 'raleway-bold';
        border-radius: 0px 15px 15px 0px;
        padding: 12px;
    }

    .grasin
    {
        position: absolute;
        top: 2%;    right: 10%;
    }

    h2
    {
        flex-wrap: wrap;
        font-size: 18px;
    }

    body
    {
        font-family: 'raleway'; 
        background-color: white;
        width: 100%;
    }

    #searchbar
    {
        justify-content: center;
        border: none;
        width: 100%;
    }

    nav li
    {
        border: none;
    }

    #filtre
    {
        padding: 5px;
    }

    #inf
    {
        padding: 5px;
    }

    #mobilefiltre
    {
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
    }

    .listhebergement
    {
        order: 2;
        border-radius: 0px;
        width: 100%;
        height: 100%;
        background-color: white;
    }

    .imghebergement
    {
        width: 90%;
        margin-left: 0px;
        align-items: center;
        padding: 0px;
        padding-bottom: 5px;
        margin-bottom: 15px;
        border: 1px solid #F2F2F2;
    }

    .ihtaille
    {
        width: 100%;
        height: 150px;
    }

    .populaire
    {
        border-radius: 0px;
        width: 100%;
        align-content: center;
    }

    .mobilesechp
    {
        display: flex;
        align-items: center;
        width: 100%;
    }

    .activite
    {
        flex-direction: column;
        align-items: center;
    }

    #filtre
    {
        flex-direction: column;
        align-items: flex-start;
        width: 100%;
    }

    .lignehebergement
    {
        flex-direction: column;
        align-items: center;
    }

    #lignedeux
    {
        margin-top: 0px;
    }

    #sechp
    {
        display: flex;
        flex-direction: column;
    }

    .imgpopulaire
    {
        margin: 0px;
        padding: 0px;
        padding-bottom: 5px;
        margin-bottom: 25px;
        width: 90%;
        height: 150px;
    }

    footer
    {
        flex-direction: column;
        margin-left: 0px;
        margin-top: 0px;
        padding: 5px;
    }

    .foot
    {
        margin: 0px;
    }

    .footcol
    {
        margin-top: 0px;
        margin-left: 0px;
    }

    .imgactgrand
    {
        width: 100%;
        max-width: 90%;
        height: 200px;
        margin-bottom: 15px;
        overflow: hidden;
    }

    .imgact
    {
        width: 100%;
        max-width: 90%;
        height: 200px;
        margin-bottom: 15px;
        overflow: hidden;
    }

    .imgparc
    {
        width: 100%;
        max-width: 90%;
        height: 200px;
        margin-bottom: 15px;
        overflow: hidden;
    }

    .imgfort
    {
        width: 100%;
        max-width: 90%;
        height: 200px;
        margin-bottom: 15px;
        overflow: hidden;
    }

    .amtaillegrand img
    {
        width: 100%;
    }

    .taillefort
    {
        width: 100%;
    }

    .colact
    {
        align-items: center;
        width: 100%;
        height: 100%;
    }

    .amtaille
    {
        width: 100%;
    }

    .taillenom
    {
        font-size: 16px;
    }

    .tailleprix
    {
        font-size: 14px;
    }
}