/*
bleu #0065FC
bleu clair #DEEBFF
gris #F2F2F2

Body
*/

@font-face
{
    font-family: 'raleway';
    src: url('assets/police/Raleway-Light.ttf');
}

@font-face
{
    font-family: 'raleway-bold';
    src: url('assets/police/Raleway-bold.ttf')
}

body
{
    font-family: 'raleway';
    background-color: white;
    width: 100%;
    height: 100%;
}

a:link
{
    text-decoration: none;
}

/* Header */

header
{
    padding: 16px;
}

section
{
    padding: 16px;
}

#head
{
    display: flex;
    align-items: center;
    justify-content: space-between;
}

nav
{
    width: 25%;
}

nav ul
{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

nav li
{
    list-style: none;
    border-top: 1px solid transparent;
    color: #0065FC;
}

li:hover
{
    border-color: #0065FC;
    cursor: pointer;
}

li:visited
{
    color: black;
}

.gras
{
    font-family: 'raleway-bold';
}
/* 
    Barre de recherche
*/

#searchbar
{
    display: flex;
    width: 300px;
    align-items: center;
    border: 1px solid #F2F2F2;
    border-radius: 15px;
}

#searchicon
{
    padding: 12px;
    background-color: #F2F2F2;
    color: black;
    border-radius: 15px 0px 0px 15px;
}

.formulaire
{
    display: flex;
}

.formulaire .champ
{
    font-family: 'raleway-bold';
    border: none;
    width: 200px;
}

.formulaire .bouton
{
    border-color: #0065FC;
    background-color: #0065FC;
    color: white;
    font-family: 'raleway-bold';
    border-radius: 0px 15px 15px 0px;
    padding: 12px;
}

.bouton:hover
{
    cursor: pointer;
}

/*
    Filtre
*/

#filtre
{
    display: flex;
    flex-direction: row;
    align-items: center;
    font-family: 'raleway-bold';
    color: #0065FC;
}

.filtrebord
{
    display: flex;
    align-items: center;
    border: 2px solid #F2F2F2;
    border-radius: 50px;
    margin-left: 12px;
    margin: 12px;
}

.filtrebord:hover
{
    cursor: pointer;
}

.filcolor
{
    border-radius: 50px;
    padding: 15px;
    margin-left: -5px;
    background-color: #DEEBFF;
}

.filtext
{
    color: black;
    font-family: 'raleway-bold';
    padding: 16px;
}

#inf
{
    display: flex;
    flex-direction: row;
    align-items: center;
    font-size: 12px;
}

#logoinf
{
    border: 1px solid #F2F2F2;
    border-radius: 50px;
    padding: 8px;
    color: #0065FC;
}

/*
    Liste d'hébergements
*/

#sechp
{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
}

#listhebergement
{
    display: flex;
    flex-direction: column;
    background-color: #F2F2F2;
    border-radius: 15px 15px 15px 15px;
    width: 1200px;
    height: 775px;
}

.lignehebergement
{
    display: flex;
    flex-direction: row;
}

#lignedeux
{
    margin-top: 25px;
}

.texthebergement
{
    font-family: 'raleway-bold';
    padding: 20px;
}

.imghebergement
{
    display: flex;
    flex-direction: column;
    background-color: white;
    border-radius: 15px 15px 15px 15px;
    margin-left: 25px;
    padding: 5px;
}

.imghebergement:hover
{
    cursor: pointer;
}

.ihtaille
{
    width: 350px;
    height: 150px;
    border-radius: 15px 15px 0px 0px;
    overflow: hidden;
}

.ihtaille img
{
    width: 100%;
}

.taillenom
{
    padding-left: 10px;
    font-family: 'raleway-bold';
    font-size: 20px;
}

.tailleprix
{
    margin-top: -10px;
    padding-left: 10px;
    font-size: 16px;
}

.etoile
{
    display: flex;
    flex-direction: row;
    padding-left: 10px;
}

.etoilevalide
{
    color: #0065FC;
}

.etoileinvalide
{
    color: #F2F2F2;
}

#afficherplus:hover
{
    cursor: pointer;
}

#populaire
{
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    background-color: #F2F2F2;
    border-radius: 15px 15px 15px 15px;
    width: 500px;
    height: 775px;
}

#titrepopu
{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-around;
}

.imgpopulaire
{
    display: flex;
    flex-direction: row;
    margin: 30px;
    padding: 5px;
    background-color: white;
    border-radius: 15px 15px 15px 15px
}

.imgpopulaire:hover
{
    cursor: pointer;
}

.iptaille
{
    width: 150px;
    height: 150px;
    border-radius: 15px 0px 0px 15px;
    overflow: hidden;
}

.iptaille img
{
    height: 100%;
}

.ipltaille
{
    width: 150px;
    height: 150px;
    border-radius: 15px 0px 0px 15px;
    overflow: hidden;
}

.ipltaille img
{
    width: 100%;
    height: 100%;
}

.ipdtaille
{
    width: 150px;
    height: 150px;
    border-radius: 15px 0px 0px 15px;
    overflow: hidden;
}

.ipdtaille img
{
    width: 100%;
}

.colpop
{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.etoilepop
{
    display: flex;
    flex-direction: row;
    padding-left: 10px;
}

/* Activités à Marseille */

#secam
{
    display: flex;
    flex-direction: column;
}

#activite
{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
}

.amtaillegrand
{
    width: 415px;
    height: 525px;
    border-radius: 15px 15px 0px 0px;
    overflow: hidden;
}

.amtaillegrand img
{
    height: 100%;
}

.imgactgrand
{
    display: flex;
    flex-direction: column;
    border: 1px solid #F2F2F2;
    border-radius: 15px 15px 15px 15px;
    width: 415px;
    height: 600px;
}

.imgactgrand:hover
{
    cursor: pointer;
}

.activitenom
{
    margin-left: 15px;
    margin-top: 15px;
    font-family: 'raleway-bold';
}

.amtaille
{
    width: 415px;
    height: 200px;
    border-radius: 15px 15px 0px 0px;
    overflow: hidden;
}

.amtaille img
{
    width: 100%;
}

.taillefort
{
    width: 415px;
    height: 250px;
    border-radius: 15px 15px 0px 0px;
    overflow: hidden;
}

.taillefort img
{
    width: 100%;
}

.imgfort
{
    display: flex;
    flex-direction: column;
    border: 1px solid #F2F2F2;
    border-radius: 15px 15px 15px 15px;
    width: 415px;
    height: 300px;
}

.imgfort:hover
{
    cursor: pointer;
}

.imgparc
{
    display: flex;
    flex-direction: column;
    border: 1px solid #F2F2F2;
    border-radius: 15px 15px 15px 15px;
    width: 415px;
    height: 300px;
}

.imgparc:hover
{
    cursor: pointer;
}

.imgact
{
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    border: 1px solid #F2F2F2;
    border-radius: 15px 15px 15px 15px;
    width: 415px;
    height: 250px;
}

.imgact:hover
{
    cursor: pointer;
}

.imgacthaut:hover
{
    cursor: pointer;
}

.colact
{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    width: 415px;
    height: 600px;
}

/* 
    Footer
*/

footer
{
    display: flex;
    flex-direction: row;
    background-color: #F2F2F2;
    margin-left: -10px;
    margin-top: 50px;
    font-size: 18px;
}

.foot
{
    margin: 25px;
}

.footcol
{
    margin-top: 25px;
    margin-left: 375px;
}

.linkfooter:hover
{
    cursor: pointer;
}